@import "reset";
@import "mixin";
/*头部样式*/
#docHead{
	heiht:100px;
	border-bottom:1px solid #e8e8ea;
	background:#fff;
	position:relative;
	z-index:100;

	#docHeadWrap{
		height:100px;
		width:1000px;
		margin:0 auto;
		zoom:1;
		position:relative;
		/* 考拉logo样式*/
		.logokaola{
			position:absolute;
			background:url(../images/nav1.png);
			left:0px;
			top:20px;
			width:330px;
			height:65px;
			cursor:pointer;
			background-repeat:no-repeat;
			z-index:9;
			background-position:left center;
		}
		#topimg{
			position:absolute;
			top:0px;
			left:458px;
			background:url(../images/nav2.png) no-repeat;
			height:100px;
			width:504px;
			left:458px;
		}
	}	
}	
/*界面主体部分*/
.login-banner{
	background:#f8f8f8;

	.login-body{
		width:1000px;
		height:600px;
		margin:0 auto;
		position:relative;

		.default-img{
			position:absolute;
			background:url(../images/denglu.png);
			left:10px;
			top:100px;
			width:400px;
			height:203px;
			display:inline-block;
			border:0px;
			vertical-algin:middle;
		}

		.hot-area{
			position:absolute;
			top:109px;
			left:10px;
			width:400px;
			height:280px;
		}

		/* 登陆注册部分 */

		#loginwrap{
			position:absolute;
			z-index:2;
			top:50%;
			right:40px;
			width:350px;
			height:366px;
			font-size:12px;
			transform:translateY(-50%);
			border:1px solid #eaeaea;
			background-color:#fff;

			#loginNum{

				border:none;

				.top{

					height:52px;
					width:348px;
					font-size:16px;
					color:#333;
					line-height:52px;
					border-bottom:1px solid #ddd;
					position:relative;
					background:#f8f8f8;

					/*active为鼠标移入时的class名 */
					.active{

						color:#e31436;

					}

					#top_1{

						float:left;
						width:174px;
						font-weight:700;
						cursor:pointer;
						text-align:center;
						

					}

					.line{

						position:absolute;
						top:17px;
						left:175px;
						width:0px;
						height:20px;
						border-right:1px solid #ddd;
					}

					.top_2{

						float:left;
						width:174px;
						font-weight:700;
						cursor:pointer;
						text-align:center;
						
					}
				}

				/*对应表单部分 */

			#loginInputHead{

				.inputBox{
						height:245px;
    					background-color: #fff;
    					
    					padding: 20px 40px 15px;

    					#inputBoxTop{
    						padding:0 0 25px 0;
    						span,a{
    							float:right;
    						}
    					}

    						#iconMima{
    							font-size:12px;
    						}
    					#inputBoxNum{

    						width:270px;
    						height:35px;
    						border:1px solid #c5cddb;
    						font-size:14px;
    						background:#fff;

    						  span{
    						  	    padding:0 11px 0 11px;
    						  }

    						  input{
    						  	    height: 30px;
    								line-height: 30px;
   									font-size: 14px;
   									border:none;
    						  }
    					}

    					 #inputBoxPassword{
    					 	background:#fff;
    					 	width:270px;
    						height:35px;
    						border:1px solid #c5cddb;
    						font-size:14px;
    						margin-top:15px;

    							input{
    								width:138px;
    								height: 30px;
    								line-height: 30px;
   									font-size: 14px;
   									border:none;
   									padding-left:8px;
    							}

    							/*span{
    									display:inline-block;
    								    height: 34px;
    									width: 96px;
   								    	line-height: 32px;
    									background-color: #eee;
					    				color: #333;
					    				border-left: 1px solid #d5d5d5;
    							}
    							*/
    					 }

    					 #inputBoxLogin{


    					 	a{
    					 	
    					 		display:block;
    					 		width:270px;
    					 		margin-top:30px;
    					 		height: 36px;
    							background-color: #E31436;
    							color: #fff;
    							border-radius: 2px;
    							line-height: 36px;
    							font-size: 14px;
    							cursor: pointer;
    							text-align:center;
    					 	}
    					 }

    					 #inputBoxBottom{
    					 		margin-top:10px;
    					 		width:270px;
    					 		height:31px;

    					 		span,lable{
    					 			float:left;
    					 		}

    					 		a{
    					 			float:right;
    					 		}
    					 }
					}

				}

				#loginInputBody{

					margin-left:40px;
				}

				#loginInputFooter{
					padding: 10px 40px;
					width:348px;
				    height:41px;
				    font-size: 14px;
				    border-top: 1px solid #ddd;
				    background-color: #f8f8f8;
				    margin-top:10px;
				    ul li{

				    	display: block;
   		 				position: relative;
    					float: left;
    					margin-right: 10px;
    					width: 22px;
    					height: 22px;

    					.icon-weixin{
    						color:#92bc83;
    					}
    					.icon-zhifubao{
    						color:#79bdd7;
    					}
    					.icon-weibo{
    						color:#eba265;
    					}
    					.icon-QQ{
    						color:#87a9de;
    					}

				    }

				    ul li a{

				    	font-size:22px;
				    }

				    .loginBottomA{
				    	    display: block;
						    float: right;
						    width: 105px;
						    line-height: 22px;
						    cursor: pointer;
						    color: #e31436;

						    span{
						    	padding:3px 0 0 0;
						    }
				    }
				}
			}
		}
	}
}

/*底部*/
.common-footer{
	margin-top:40px;
	margin-bottom:100px;
	font-size:14px;
	text-algin:center;
	color:#666;

	#aboutNEST{
		position:relative;
		padding:0px;
		line-height:26px;
		text-algin:center;
		color:#666;
		background:#fff;
		width:1000px;
		height:115px;
		margin:0 auto;
		a{
			color:#666;
			cursor:pointer;
			font-family:"Helvetica Neue";
			font-size:14px;
		}

		span{
			margin:0 20px;
		}

		#KXYZ{
			margin:0px;

			img{
				margin-top:5px;
				width:80px;
				height:30px;
				border-radius:5px;
			}
		}

		.m-license{
			font-size:12px;
			color:#999;
		}

		.f-tac{
 			text-algin:center;
 			
 			#KXYZ{
 				position:relative;

 				#kx_verify{
 					position:absolute;

 					left:420px;

 				}
 			}

 			.u-shield{
 					position:absolute;
 					left:500px;

 				img{
 					margin:5px 0 0 10px;
 					height:30px;
 				}
 			}
	 	}

	}

	#zgwab{
		position:absolute;
		z-index:3;
		left:30px;
		top:57px;
	}
}
 














